@charset "UTF-8";
/* CSS Document */
body, html {
  height: 100%;
  margin: 0;
  background-color: #F2DBDB;
  font-family: 'Roboto Slab', serif;
}

.container {
	height: 8;
}


.bg {
  background-image: url("img/bg.jpg");
  height: 100%; 
  width: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
	display: flex;
}

.column1 {
  flex: 45%;
}

.column2 {
  float: left;
  width: 55%;
  padding-top: 50px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  font-family: "Bellota Text", sans-serif;
  font-weight: 700;
  margin: 2rem;
  font-size: 4em;
}

.logo {
	margin: 2rem;
}

.button {
	background-color:#CF6150;
	font-family: 'Roboto Slab', serif;
	font-size: 1rem;
	color: #fff;
	width: 12rem;
	border:0;
	margin-top: .5rem;
	margin-bottom: .5rem;
	margin-left: 2rem;
	margin-right: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-left: .3rem;
	padding-right: .3rem;
	border-radius: .5rem;
}

.button:hover {
	background-color:#fff;
	color: #CF6150;
}

.button1 {
	background-color:#A6311F;
	font-family: 'Roboto Slab', serif;
	font-size: 1rem;
	color: #fff;
	width: 12rem;
	border:0;
	margin-top: .5rem;
	margin-bottom: .5rem;
	margin-left: 2rem;
	margin-right: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: .3rem;
	padding-right: .3rem;
	border-radius: .5rem;
}

.button2 {
	background: none;
	border: none;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 2rem;
	color: #A6311F;
	margin-bottom: 50px;
	padding-left: 0;
}

.label {
	margin-left: 2rem;
	font-size: 2rem !important;
	margin-bottom:0;
}

.confidence {
	margin-left: 2rem;
	margin-top: 0;
}

button:hover {
	background-color:#fff;
	color: #CF6150;
}

.nav {
	background-color:#F2DBDB !important;
	color: #000 !important;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #F1E8E8;
  
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

h3 {
	color: #A6311F;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
